.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    float: left;
}

    .rating > label {
        display: inline-block;
        position: relative;
        width: 1.1em;
    }

        .rating > label.active:before,
        .rating > label.active ~ label:before,
        .rating > label:hover:before,
        .rating > label:hover ~ label:before {
            content: "\2605";
            position: absolute;
        }

input {
    display: none;
}
