@model List<MyMoviesViewModel>
@{
    ViewData["Title"] = "GetMyAllRateAndReviewedMovies";
}
<body>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" style="color:white">Movie</th>
                <th scope="col" style="color:white">Year</th>
                <th scope="col" style="color:white">My Rate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="color:white">
                        @item.Title
                    </td>
                    <td style="color:white">
                        @item.Year
                    </td>
                    <td style="color:white">
                        @item.Rate
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-info" onclick="GoHome()">Home</button>
</body>


