@model List<MyMoviesViewModel>
@{
    ViewData["Title"] = "GetMyAllRateAndReviewedMovies";
}
    <head>
        <link href="~/css/my-rating.css" rel="stylesheet" />
    </head>
<body>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" style="color:white">Movie</th>
                <th scope="col" style="color:white">Year</th>
                <th scope="col" style="color:white">My Rate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="color:white">
                        @item.Title
                    </td>
                    <td style="color:white">
                        @item.Year
                    </td>
                    <td>
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                        <form>
                            <div class="rating">
                                @for (int i = 0; i < @item.Rate; i++)
                                {
                                    <label style="color:yellow">☆</label>
                                }
                                <input type="radio" name="starValue" value="@item.Rate" />
                            </div>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-info" onclick="GoHome()"><i class="fa fa-home" aria-hidden="true"></i> Home</button>
    <script>
        $(document).ready(function () {
            $('label').click(function () {
                $('label').removeClass('active');
                $(this).addClass('active');
            });
        });
    </script>
</body>


