@model List<FilmМoviesViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div style="width: 100%; height:80px">
        @if (Model.Count() != 0)
        {
            <div style="width: 80%">
                <h1 class="text-center" style="color: white">10 top movies for these week</h1>
            </div>
        }
        <div style="width: 20%; float:right;">
            <button class="btn btn-info" onclick="RefreshMovie()">Refresh movies</button>
        </div>
    </div>
    <br />
    <br />
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" style="color:white">Movie</th>
                <th scope="col" style="color:white">Year</th>
                <th scope="col" style="color:white">Trailer</th>
                <th scope="col" style="color:white">Add to favorite</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <strong>
                            <a href="https://www.imdb.com/title/@item.IMDB/" style="color:blueviolet">
                                @item.Title - Imdb
                            </a>

                        </strong>
                    </td>
                    <td style="color:white">
                        @item.Year
                    </td>
                    <td>
                        <strong>
                            <a href="    https://www.youtube.com/results?search_query=@item.Title+trailer" style="color:blueviolet">
                                @item.Title - Trailer
                            </a>

                        </strong>
                    </td>
                    <td>
                        <button type="submit" onclick="AddMovie(@item.Id)" class="btn btn-info">Add</button>
                        <br />
                    </td>
                </tr>

            }
        </tbody>
    </table>
    <button class="btn btn-info" onclick="ShowMyMovie()">Show my movies</button>
    <div class="purple"></div>
    <div class="medium-blue"></div>
    <div class="light-blue"></div>
    <div class="red"></div>
    <div class="orange"></div>
    <div class="yellow"></div>
    <div class="cyan"></div>
    <div class="light-green"></div>
    <div class="lime"></div>
    <div class="magenta"></div>
    <div class="lightish-red"></div>
    <div class="pink"></div>
</body>
